<div class="col-md-10">
    <div class="row mb-2">
        <div class="col-md-8">
            <h1>Trip Name: {{name}}</h1>
            <h3>Flight From {{departure_airport}} to {{arrival_airport}}</h3>
            <p> Your flight on {{departure_date}} is estimated to create the following carbon footprint:
                {{carbon_footprint}}🦶</p>
        </div>
    </div>
</div>