<div class="col-md-6 flight-list">
    <div class="row mb-2">
        <div class="col-md-8">
    <h1>Airlines Name: {{name}}</h1>
    <h3>Departure From {{departure_airport}} to {{arrival_airport}}</h3>
        <p> Your flight will take off on {{departure_date}}</p>
    <h6>The carbon footprint is estimated to be around: {{carbon_footprint}}</h6>
</div>
</div>
</div>